@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-align: center;
    color: aliceblue;
    

}
.section{
   min-height: 100vh;
   background-image:linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(../img/background.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.hero{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    
}
article h1{
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: #12f7ff;
}
article h1::after{
    content: "";
    height: 3px;
    width: 225px;
    background-color: #03ebfc;
    display: block;
    margin: auto;
   
}
    

img{
 

    margin: auto;
    display: block;
    margin-top: 40px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid #bef4f7;
    
   
    
}

content{
   
    
    font-size: 17px;
    color: #e6e1e1;
    line-height: 1.5;
}
 
    

article h5{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    margin-top: 30px;
    color: #03adfc;
}

article p{
    font-size: 18px;
    

}